<p style="color: green"><%= notice %></p>

<%= render @account %>

<ul>
  <% @account.lists.each do |list| %>
    <li><%= link_to list, list %></li>
  <% end %>
</ul>

<div>
  <%= link_to "Edit this account", edit_account_path(@account) %> |
  <%= link_to "Back to accounts", accounts_path %>

  <%= button_to "Destroy this account", @account, method: :delete %>
</div>
